ion-header {
    --background: #f8c06b;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  h3 {
    font-size: 1.3em;
    margin: 10px 0;
  }
  
  ion-accordion {
    margin: 10px 0;
  }
  
  ion-input {
    margin: 10px 0;
  }