<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/pelota.jpg" alt="Producto 1">
        </ion-thumbnail>
        <ion-label>
          <h2>Pelotas Mascotas</h2>
          <p>Variedad de juguetes</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/casa.jpg" alt="Producto 2">
        </ion-thumbnail>
        <ion-label>
          <h2>Casa mascotas</h2>
          <p>Variedad de casas para tu mascota.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/arenero.jpg" alt="Producto 2">
        </ion-thumbnail>
        <ion-label>
          <h2>Arenero gato</h2>
          <p>Variedad de ereneros para tu gato</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/gato.jpg" alt="Producto 2">
        </ion-thumbnail>
        <ion-label>
          <h2>Productos Gato</h2>
          <p>Variedad de productos para gatos</p>
        </ion-label>
      </ion-item>
    
    </ion-list>
  </ion-content>
</ion-content>
